doctype html
html
  body
    pre.
      Your data dir should look like :

      /data<b>/</b>
        |- <b>static/</b>
        | |- <b>favicon.ico</b>
        |  `- <i>your static structure</i>
        `- <b>pages/</b>
          |- <b>index.pug</b>
          |- 404.pug
          `- <i>another/</i>
            `- <i>page.pug</i>
